
@{
    ViewData["Title"] = "ErrorNotFoud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br>
<center>
    <h2>@ViewBag.Message</h2>
    <br>
    <br>
    <img src="~/images/notFound.jpg" />
</center>
