
@{
    ViewData["Title"] = "ErrorNotFoud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Main -->
<div id="main">

    <center>
        <h2>@ViewBag.Message</h2>
        <br>
        <br>
        <img src="~/images/notFound.jpg" />
    </center>

</div>
<!-- Main -->