@{
    ViewData["Title"] = "Home";
}


<!-- Main -->
<div id="main">

    <div class="text-center">
        <h1 class="display-4">Bienvenido</h1>
        <br>
        <img src="images/Logo.png" alt="Logo" />
    </div>
</div>
<!-- Main -->

<!-- Footer -->
<footer id="footer">
    <section>
        <form method="post" action="#">
            <div class="fields">
                <div class="field">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name" />
                </div>
                <div class="field">
                    <label for="email">Correo</label>
                    <input type="text" name="email" id="email" />
                </div>
                <div class="field">
                    <label for="email">Celular</label>
                    <input type="text" name="celular" id="celular" />
                </div>
                <div class="field">
                    <label for="message">Mensaje</label>
                    <textarea name="message" id="message" rows="3"></textarea>
                </div>
            </div>
            <ul class="actions">
                <li><input type="submit" value="Enviar Mensaje" /></li>
            </ul>
        </form>
    </section>
    <section class="split contact">
        <section class="alt">
            <h3>Dirección</h3>
            <p>Benito Juárez, CDMX, México</p>
        </section>
        <section>
            <h3>Teléfono</h3>
            <p><a href="#">(+52) 55-98-76-54-32</a></p>
        </section>
        <section>
            <h3>Correo</h3>
            <p><a href="#">soluciones@cofim.finance</a></p>
        </section>
        <section>
            <h3>Redes Sociales</h3>
            <ul class="icons alt">
                <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
            </ul>
        </section>
    </section>
</footer>
<!-- Footer -->
