@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- Main -->
<div id="main">

    <center>
        <h1>@ViewData["Title"]</h1>

        <p>Use this page to detail your site's privacy policy.</p>
    </center>

</div>
<!-- Main -->