
@{
    ViewData["Title"] = "NotAuthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main -->
<div id="main">
    <center>
        <h2>@ViewBag.Message</h2>
        <br>
        <br>
        <img src="~/images/warning.jpg">
    </center>

</div>
<!-- Main -->
