@using Syncfusion.EJ2

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}


<!-- Main -->
    <div id="main">

        <h3>Index</h3>

        <p> <a asp-action="Create">Create New</a> </p>
        <div class="col-lg-12 control-section">
            <div class="control-wrapper">

                <ejs-grid id="Grid" dataSource="@ViewBag.datasource" allowPaging="true" height="325" load="load">
                    <e-grid-columns>
                        <e-grid-column field="Nombre"          headerText="Nombre" textAlign="Right" width="120"></e-grid-column>
                        <e-grid-column field="Descripcion"     headerText="Descripción" width="150"></e-grid-column>
                        <e-grid-column field="Costo"           headerText="Costo" width="150"></e-grid-column>
                        <e-grid-column field="TiempoOperacion" headerText="Duración del Tramite" width="150"></e-grid-column>
                    </e-grid-columns>
                </ejs-grid>

            </div>
        </div>

        <script>
        function load() {
                var grid       = document.getElementById('Grid').ej2_instances[0];
                var rowHeight  = grid.getRowHeight();  //height of the each row
                var gridHeight = grid.height;  //grid height
                var pageSize   = grid.pageSettings.pageSize;   //initial page size
                var pageResize = (gridHeight - (pageSize * rowHeight)) / rowHeight; //new page size is obtained here

                grid.pageSettings.pageSize = pageSize + Math.round(pageResize);
            }
        </script>




    </div>
            <!-- Main -->
